 <!-- form handling -->
 <form action="/api/users" method="POST" id="add_employee">
    <div class="new_employee">
        <div class="form-group">
            <label for="name" class="text-light">Nama</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="">
        </div>
        <div class="form-group">
            <label for="id_karyawan" class="text-light">ID</label>
            <input type="text" name="id_karyawan" value="" placeholder="">
        </div>
        <div class="form-group">
            <label for="posisi" class="text-light">Posisi</label>
            <input type="text" name="posisi" value="" placeholder="">
        </div>
        <div class="form-group">
            <label for="gender" class="text-light">Jenis Kelamin</label>
            <div class="radio inline">
                <input type="radio" id="radio-2" name="gender" value="Laki-laki" >
                <label for="radio-2" class="radio-label">Laki-laki</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-3" name="gender" value="Perempuan" >
                <label for="radio-3" class="radio-label">Perempuan</label>
            </div>
        </div>

        <div class="form-group">
            <label for="gender" class="text-light">Status</label>
            <div class="radio inline">
                <input type="radio" id="radio-4" name="status" value="Aktif" >
                <label for="radio-4" class="radio-label">Aktif</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-5" name="status" value="Nonaktif" >
                <label for="radio-5" class="radio-label">Nonaktif</label>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Simpan</button>
        </div>

    </div>
</form>